.product-thumbnail img {
  border-radius: 4px 4px 0px 0px;
  max-width: 100%;
  max-height: 150px;
  margin: auto;
  margin-top: 0;
  display: flex;
}

.product-thumbnail p {
  font-size: 15px;
  padding: 6px 12px;
}

.product-thumbnail b {
  font-size: 18px;
  line-height: 21px;
  color: #101010;
  margin-bottom: 10px;
  padding-left: 12px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-list::after {
  content: "";
  width: 70vw;
}

.product-thumbnail {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-bottom: 5px;
  box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
  border-radius: 4px;
  width: 200px;
  justify-content: space-between;
}

.product-thumbnail .product-img {
  min-height: 150px;
}

.price-between {
  width: 12px;
  height: 1px;
  background: #dedee0;
  border: none;
  margin: auto 0;
}

.add-to-wishlist-container {
  display: flex;
  justify-content: flex-end;
  margin: -15px 7px 0 0;
}

.add-to-wishlist-wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);
  cursor: pointer;
}

.add-to-wishlist-wrap svg:hover {
  fill: #23675c;
}

.no-products {
  padding-top: 50px;
}

.center .loading {
  margin-right: 15px;
}

@media screen and (min-width: 1600px) {
  .product-thumbnail {
    width: 250px;
  }
}
