.mobile-menu {
  position: absolute;

  width: auto;
  top: 64px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.mobile-menu a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primary);
  padding: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
}
